	Student Perspecitve
1. See actual courses
2. See all courses(filter courses also)
3. See all students(filter students)
4. Add students to FriendsList*
5. Grade Analysis
6. Course information
7. Course information for current courses
8. Google Books API(to search for books based on keyword)
   (if this does not work, use a weather API)
9. Grade analytics per subject(works only for current courses)

	Instructor perspective
1. See all courses of the instructor
2. See all students in a course
3. Write comments in class
4. Set student grades
5. Google Books API(same as above)
6. See all courses(filter courses also)
7. Course information
8. Course GPA per component